<!DOCTYPE html>

<html>
  <head>
    <title>UK Real Estate properties</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card bg-secondary">
            <div id="properties" class="card-body bg-dark">
              {% for entry in data %}
                <div class="card  mb-3">
                  <div class="card-header">
                    <strong>{{entry['address']}}</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <img src="{{entry['image']}}" class="img-thumbnail">
                      </div>
                      <div class="col">
                        <p><strong>Title: </strong>{{entry['title']}}</p>
                        <p><strong>Description: </strong>{{entry['description']}}</p>
                        <p><strong>Published: </strong>{{entry['date']}}</p>
                        <p><strong>Seller: </strong>{{entry['seller']}}</p>
                        <h3><strong class="text-success">{{entry['price']}}</strong></h3>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

  <script type="text/javascript">
    var index = 10;
    var limit = 10;
  
    $(window).scroll(() => {
      var current_y = $(window).scrollTop();
      var window_height = $(window).height();
      var document_height = $(document).height();
      
      if (current_y + window_height == document_height) {
        downloadContent(index, limit);
        index += 10
      }
    });
    
    function downloadContent(index, limit) {
      $.get('/api?index=' + index + '&limit=' + limit, (data) => {
        for (var index = 0; index < data.data.length; index++) {
          var page = `
            <div class="card  mb-3">
              <div class="card-header">
                <strong>` + data.data[index].address + `</strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <img src="` + data.data[index].image + `" class="img-thumbnail">
                  </div>
                  <div class="col">
                    <p><strong>Title: </strong>` + data.data[index].title + `</p>
                    <p><strong>Description: </strong>` + data.data[index].description + `</p>
                    <p><strong>Published: </strong>` + data.data[index].date + `</p>
                    <p><strong>Seller: </strong>` + data.data[index].seller + `</p>
                    <h3><strong class="text-success">` + data.data[index].price + `</strong></h3>
                  </div>
                </div>
              </div>
            </div>
          `

          $('#properties').append(page)
        }
      });
    }
    
  </script>
    
  </body>
</html>




